body {
    background-color: lightblue;
    }
    
    h1 {
    color: navy;
    margin-left: 20px;
    }

 .andimg {
    width: 100%;
    max-width: 960px;
 }

 .andimg2{
   width:100%;
   max-width:640px;

 }
